store:
  id: ""
  engine: medusa

replicaCount: 1

image:
  repository: ghcr.io/sriharsan/medusa-backend
  tag: "1.4"
  pullPolicy: IfNotPresent

storefront:
  image:
    repository: storepro-storefront
    tag: latest
    pullPolicy: IfNotPresent

env:
  - name: DATABASE_URL
    value: postgres://postgres:postgres@postgres:5432/medusa
  - name: NODE_ENV
    value: production

postgresql:
  enabled: true
  image:
    repository: postgres
    tag: 15-alpine
  auth:
    username: postgres
    password: postgres
    database: medusa
