store:
  id: ""
  engine: medusa

replicaCount: 1

image:
  repository: medusa-api
  tag: latest
  pullPolicy: Never

storefront:
  image:
    repository: storepro-storefront
    tag: latest
    pullPolicy: IfNotPresent

# =============================
# ENVIRONMENT VARIABLES
# =============================
env:
  # Medusa database (inside cluster)
  - name: DATABASE_URL
    value: postgres://postgres:postgres@postgres:5432/medusa

  - name: NODE_ENV
    value: production

  - name: NEXT_PUBLIC_MEDUSA_BACKEND_URL
    value: "http://medusa-{{ .Values.store.id }}.127.0.0.1.nip.io"

postgresql:
  persistence:
    size: 5Gi
  enabled: true
  image:
    repository: postgres
    tag: 15-alpine
  auth:
    username: postgres
    password: postgres
    database: medusa
