apiVersion: v1
kind: LimitRange
metadata:
  name: {{ .Release.Name }}-limits
  namespace: {{ .Release.Namespace }}
spec:
  limits:
    - default:
        cpu: 1000m
        memory: 1Gi
      defaultRequest:
        cpu: 100m
        memory: 128Mi
      type: Container
