apiVersion: v1
kind: ResourceQuota
metadata:
  name: {{ .Release.Name }}-quota
  namespace: {{ .Release.Namespace }}
spec:
  hard:
    requests.cpu: "500m"
    requests.memory: "512Mi"
    pods: "10"
