apiVersion: v1
kind: Secret
metadata:
  name: medusa-secrets
  namespace: {{ printf "store-%s" .Values.store.id }}
type: Opaque
stringData:
  {{- $postgresPassword := .Values.postgresql.auth.password | default (randAlphaNum 16) }}
  database-url: "postgres://{{ .Values.postgresql.auth.username }}:{{ $postgresPassword }}@postgres:5432/{{ .Values.postgresql.auth.database }}"
  jwt-secret: {{ randAlphaNum 32 | quote }}
  cookie-secret: {{ randAlphaNum 32 | quote }}
  postgres-password: {{ $postgresPassword }}
