apiVersion: v1
kind: Secret
metadata:
  name: medusa-secrets
type: Opaque
stringData:
  {{- $pgUser := default "postgres" .Values.postgresql.auth.username }}
  {{- $pgDb := default "medusa" .Values.postgresql.auth.database }}
  {{- $pgPassword := default (randAlphaNum 16) .Values.postgresql.auth.password }}

  database-url: "postgres://{{ $pgUser }}:{{ $pgPassword }}@postgres:5432/{{ $pgDb }}"
  jwt-secret: {{ randAlphaNum 32 | quote }}
  cookie-secret: {{ randAlphaNum 32 | quote }}
  postgres-password: {{ $pgPassword }}
