apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-storefront
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  selector:
    app: storefront
  ports:
    - port: 3000
      targetPort: 3000
